@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="what-we-do container">
                        <div class="row">
                            <div class="service span3">
                                <div class="icon-awesome">
                                    <i class="icon-eye-open"></i>
                                </div>
                                <h2>Company Overview</h2>
                                <p>Konzole Company is a company that provides web applications development, customized business software solutions and IT consultancy. Our company consists of creative and skilled professionals who are passionate about forward-thinking technologies.</p>
                                <div>
                                    Industry

                                    - IT/Software
                                </div>
                                <div>Company Size

- 51-200</div>
                                <div>Dress Code

- Casual</div>
                                <div>Spoken Language

- Filipino/English</div>
                                <div>Facebook Fan Page

- www.facebook.com/konzolecompany</div>
                                <div>                                    Benefits

                                    - Medical, Dental, Loans, Allowances</div>
                              








                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>